.link {
  text-decoration: none;
}

main {
  padding-top: 3rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.plus-plan,
.free-plan,
.premium-plan {
  margin-top: 2rem;
  width: 80%;
  background: #9ef5ac;
  padding: 1.5rem;
  border: 4px solid rgb(5, 37, 5);
  border-left: none;
  position: relative;
  overflow: hidden;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
  transform-origin: center; /* default */
  width: 12rem;
  text-align: center;
}

.plus-plan:hover,
.free-plan:hover,
.premium-plan:hover,
.plus-plan:active,
.free-plan:active,
.premium-plan:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
  animation-name: push-up;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.clearfix {
  clear: both;
}

.free-plan {
  background: #ccf7d3;
  float: right;
  border-right: none;
  border-left: 3px solid rgb(5, 37, 5);
  text-align: right;
}

.plus-plan__name,
.free-plan__name {
  color: rgb(41, 40, 40);
}

.plus-plan__heading,
.free-plan__heading {
  color: gray;
  font-size: larger;
}

.plus-plan__description,
.free-plan__description,
.premium-plan__description {
  color: black;
  font-size: 1.2rem;
  background: white;
  padding: 0.5rem;
  border: 1px solid black;
}

.premium-plan {
  background: rgb(3, 66, 3);
}

.premium-plan__name {
  color: white;
}

.premium-plan__heading {
  color: rgb(150, 146, 146);
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .plus-plan {
    border-left: 4px solid rgb(5, 37, 5);
  }

  .free-plan {
    border-right: 4px solid rgb(5, 37, 5);
  }

  .premium-plan {
    border-left: 4px solid rgb(5, 37, 5);
  }
}

@keyframes push-up {
  0% {
    transform: translateY(0rem);
  }

  33% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
